{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tania-Dika Wedding</title>
    <meta name="description" content="Tania-Dika Wedding Invitation">
    <meta name="keywords" content="wedding invitation, tania-dika, hendry prasetya">
    
    <link href="https://fonts.googleapis.com/css?family=Alice|Zilla+Slab:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'marriage/tania-dika/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'marriage/tania-dika/css/style.min.css' %}">

    <link rel="shortcut icon" href="{% static 'marriage/tania-dika/favicon.ico' %}">

    <link href="{% static 'marriage/tania-dika/css/all.css' %}" rel="stylesheet"> <!--load all styles -->

    <!--[if lt IE 9]>
      <script src="{% static 'marriage/tania-dika/js/vendor/html5shiv.min.js' %} "></script>
      <script src="{% static 'marriage/tania-dika/js/vendor/respond.min.js' %} "></script>
    <![endif]-->
  </head>
  <body>
    
    <!-- Fixed navbar -->
     <!-- navbar-fixed-top -->
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" title="uiCookies:Wedding">Tania <em>&amp;</em>&nbsp; Dika</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="home">Home</a></li>
            <li><a href="#" data-nav-section="groom-bride">Groom &amp; Bride</a></li>
            <li><a href="#" data-nav-section="when-where">When &amp; Where</a></li>
            <li><a href="#" data-nav-section="gallery">Gallery</a></li>
            <li><a href="#" data-nav-section="notes">Notes/Wishes</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <section class="flexslider" data-section="home">
      <div class="container text-intro-wrap">
        <div class="row">
          <div class="col-md-12 text-center text-intro probootstrap-animate">
            <h1>Tania <em>&amp;</em>&nbsp; Dika</h1>
            <h2>Getting Married on January 19, 2020 &mdash; Bandar Lampung</h2>
          </div>
        </div>
      </div>
      <ul class="slides">
        <li style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/hero_bg_1.jpg)" data></li>
        <li style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/hero_bg_2.jpg)"></li>
        <li style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/hero_bg_3.jpg)"></li>
      </ul>
    </section>

    <section class="probootstrap-section probootstrap-section-colored probootstrap-wedding-countdown">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate"><h4>The Wedding Begins In</h4></div>
          <div class="col-md-12 probootstrap-animate">
            <div class="date-countdown"></div>  
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg" data-section="groom-bride">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-groom-bride">
            
            <div class="probootstrap-groom probootstrap-animate">
              <figure>
                <img src="{% static 'marriage/tania-dika/img/groom_1.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
              </figure>
              <span class="probootstrap-caption">The Groom</span>
              <h2 class="text-center">Dika Arif Adiguna</h2>
              <h4 class="text-center">Putra dari Bapak H. Sucipto & Ibu Sri Wuryaningsih</h4>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth question ran over her cheek, then she continued her way.
              <i class="fab fa-instagram"></i><a href="https://www.instagram.com/dikaarifadiguna/"> dikaarifadiguna</a>
              </p>
            </div>

            <div class="probootstrap-divider probootstrap-animate"><span>&amp;</span></div>

            <div class="probootstrap-bride probootstrap-animate">
              <figure>
                <img src="{% static 'marriage/tania-dika/img/bride_1.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
              </figure>
              <span class="probootstrap-caption">The Bride</span>
              <h2 class="text-center">Tania Oktrisa</h2>
              <h4 class="text-center">Putri dari Bapak Ahmad Jam'ani & Ibu Tahrirotul Muyassaroh</h4>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
              <i class="fab fa-instagram"></i><a href="https://www.instagram.com/taniaoktrisa/"> taniaoktrisa</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="probootstrap-section probootstrap-section-colored" data-section="when-where">
      <div class="container">
        <div class="row mb40 text-center">
          <div class="col-md-12 probootstrap-animate"><h2 class="mt0">When &amp; Where</h2></div>
        </div>
        <div class="row">
          <div class="col-md-6 probootstrap-animate">  
            <p><img src="{% static 'marriage/tania-dika/img/img_2.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-rounded"></p>
            <h3 class="text-center">Wedding Ceremony</h3>
            <p class="text-center">Minggu, 19 Januari 2020<br />
            07.00 WIB - selesai<br />
            GSG Ernawan Khuwa Jukhai. Jl. KH Ahmad Dahlan,<br />
            Pahoman, Bandar Lampung</p>
            <button class="btn btn-default btn-lg" style="display: table; margin: 0 auto" onclick="location.href='https://calendar.google.com/calendar/r/eventedit?text=Tania+%26+Dika+Wedding+Ceremony+Day&dates=20200119T070000/20200119T100000&ctz=Asia/Jakarta&details=We+would+be+more+than+happy+to+see+Your+bright+faces+in+our+wedding&location=GSG+Ernawan+Khua+Jukhai&pli=1&uid=1521339627addtocalendar&sf=true&output=xml';">Save Wedding Ceremony Date</button>

          </div>
          <div class="col-md-6 probootstrap-animate">
            <p><img src="{% static 'marriage/tania-dika/img/img_1.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-rounded"></p>
            <h3 class="text-center">Wedding Reception</h3>
            <p class="text-center">Minggu, 19 Januari 2020<br />
            10.00 - 13.00 WIB<br />
            GSG Ernawan Khuwa Jukhai. Jl. KH Ahmad Dahlan,<br />
            Pahoman, Bandar Lampung</p>
            <button class="btn btn-default btn-lg" style="display: table; margin: 0 auto" onclick="location.href='https://calendar.google.com/calendar/r/eventedit?text=Tania+%26+Dika+Wedding+Reception+Day&dates=20200119T100000/20200119T130000&ctz=Asia/Jakarta&details=We+would+be+more+than+happy+to+see+Your+bright+faces+in+our+wedding&location=GSG+Ernawan+Khua+Jukhai&pli=1&uid=1521339627addtocalendar&sf=true&output=xml';">Save Wedding Reception Date</button>
          </div>
        </div>
        <div class="row">
          <br />
          <style>
            .google-maps {
                position: relative;
                padding-bottom: 50%;
                height: 0;
                overflow: hidden;
            }
            .google-maps iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
          </style>
          <div class="col-md-12 google-maps">
            <iframe width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ1dBOnbbbQC4RJY8c73qzrhE&key=AIzaSyCMSKW-vE6yLQ30Y38MJjCtf0IjSyIOoCw" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div id="map"></div> {% endcomment %}
   

    <section class="probootstrap-section" data-section="gallery">
      <div class="container">
        <div class="row mb40 probootstrap-animate">
          <div class="col-md-12 text-center"><h2>Gallery</h2></div>
        </div>

        <div class="row probootstrap-gutter30">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_3.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_3.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_3.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_2.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_2.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_2.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
            <div class="row probootstrap-gutter30">
              <div class="col-md-12 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_1.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_1.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_1.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6">
                <div class="row probootstrap-gutter30">
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_4.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_4.jpg)">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_4.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_5.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_5.jpg)">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_5.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image  height-2x image-popup" href="{% static 'marriage/tania-dika/img/img_6.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_6.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_6.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- END row -->

        <div class="row probootstrap-gutter30">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6">
                <div class="row probootstrap-gutter30">
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_1.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_1.jpg)">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_1.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_2.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_2.jpg)">
                      <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_2.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image  height-2x image-popup" href="{% static 'marriage/tania-dika/img/img_3.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_3.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_3.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_4.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_4.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_4.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_5.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_5.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_5.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
            <div class="row probootstrap-gutter30">
              <div class="col-md-12 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{% static 'marriage/tania-dika/img/img_6.jpg' %} " style="background-image: url(https://marriagemyid.s3-ap-southeast-1.amazonaws.com/marriage/tania-dika/img/img_6.jpg)">
                  <div class="probootstrap-image-for-popup"><img src="{% static 'marriage/tania-dika/img/img_6.jpg' %} " alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>

    {% if guest_name %}
        <section class="probootstrap-section probootstrap-border-top" data-section="notes">
          <div class="container">
            <div class="row mb40">
              <div class="col-md-12 text-center">
                <h2 class="mt0 mb10 probootstrap-animate">Guest Book</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="probootstrap-card probootstrap-animate">
                  <form class="probootstrap-form" action="/tania-dika/submit-message/{{guest_id}}/{{guest_name}}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="guest_name">Nama kamu</label>
                      <input type="text" class="form-control" id="guest_name" value="{{ guest_name }}" readonly>
                    </div>
                    <div class="form-group">
                      <label for="guest_role">Siapakah kamu?</label>
                      <input type="text" class="form-control" name="guest_role" id="guest_role" placeholder="Contoh: Keluarga Mempelai">
                    </div>
                    <div class="form-group">
                      <label for="message">Pesan atau Doa untuk Kami</label>
                      <textarea name="message" id="note" cols="20" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-lg" value="Kirim Pesan/Doa">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
    {% endif %}

    {% if latest_messages %}
      <section class="probootstrap-section probootstrap-border-top" data-section="notes" id="notes_section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="probootstrap-card probootstrap-animate">
                    {% for guest_message in latest_messages %}
                        <div class="card">
                            <span>
                              <b style="font-size: large">{{guest_message.guest_name}}</b>
                              &nbsp;
                              <em style="font-size: small">{{guest_message.guest_role}}</em>
                            </span>
                            <p style="font-size: medium">
                              {{ guest_message.message }}
                            </p>
                            <p style="font-size: small">
                              {{ guest_message.pub_date }}
                            </p>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>
    {% endif %}

    <footer class="probootstrap-footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            &copy; 2017 <a href="https://uicookies.com/">uiCookies:Wedding</a>. All Rights Reserved. Designed &amp; Developed by <a href="https://uicookies.com">uicookies.com</a> <br> Demo Images by <a href="https://unsplash.com">Unsplash</a>. Modified &amp; built by <a href="https://www.linkedin.com/in/hendryprasetya/">Hendry Prasetya</a>, owner of <a href="https://marriage.my.id">marriage.my.id.</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'marriage/tania-dika/js/scripts.min.js' %} "></script>
    <script src="{% static 'marriage/tania-dika/js/custom.min.js' %} "></script>
    
  </body>
</html>